body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
* {
  box-sizing: border-box;
}
h4 {
  margin: 0;
  font-size: 15px;
  margin-bottom: 10px;
}

input {
  margin: 3px 0 8px;
}
textarea {
  min-height: 30px;
  max-height: 200px;
  resize: vertical;
  width: 100%;
  border-radius: 8px;
}
.form {
  width: 100%;
  max-width: 400px;
  margin: 15px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 8px;
}
.form-group {
  border: none;
  padding: 0;
}
.form-group-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.label {
  display: block;
  margin-bottom: 5px;
}
.input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
textarea:disabled,
.input:disabled {
  opacity: 0.7;
}
.checkbox__label {
  padding-left: 22px;
  display: flex; align-items: center;
}
.checkbox {
  appearance: none;
  position: absolute;
  outline: none;
}
.checkbox::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 16px;
  height: 16px;
  margin-left: -22px;
  border: 1px solid #333;
  border-radius: 4px;
  cursor: pointer;

}
.checkbox:checked::after {
  background: url("/check-icon.svg") no-repeat center, #9e1fff no-repeat;
}
button {
  border: none;
  border-radius: 8px;
  padding: 5px 18px;
  background-color: #9e1fff;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
button:hover {
  opacity: 0.8;
}
button:active {
  background-color: #8719db;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.input:focus-visible,
.textarea:focus-visible,
button:focus-visible,
.checkbox:focus-visible::after {
  outline: 2px solid #9e1fff;
  outline-offset: 1px;
}
