body {
  margin: 0;
  font-family: sans-serif;
}
h4 {
  margin: 0;
  font-size: 15px;
  margin-bottom: 10px;
}

input {
  margin: 3px 0 8px;
}
textarea {
  min-height: 30px;
  max-height: 200px;
  resize: vertical;
  width: 100%;
}
.form {
  max-width: 250px;
  margin: 15px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 8px;
}
.form-group {
  border: none;
  padding: 0;
}
.form-group-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.label {
  display: block;
  margin-bottom: 5px;
}
.input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
.checkbox {
  margin-right: 5px;
  cursor: pointer;
}
  button{
  border: none;
  padding: 5px 15px;
  cursor: pointer;
}