html {
  font-family: Ubuntu, sans-serif;
  font-weight: 400;
}

body * {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.article {
  margin-top: 80px;
}

.article__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 115%;
  text-transform: uppercase;
  font-family: Oswald, sans-serif;
  color: #2c332f;
  margin-bottom: 40px;
}
.large{
  font-size: 48px;
  max-width: 596px;

  
}

.article__list{
  padding: 0 0 0 14px;
}
.article__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
  margin-bottom: 20px;
}
.img {
  width: 100%;
}

.article__list-item {
  margin-bottom: 12px;
}
.video {
  width: 100%;
  max-width: 1220px;
  max-height: 512px;
  object-fit: cover;
  margin-bottom: 40px;
}
