.hero {
  position: relative;
}
.hero::before {
  bottom: 106px;
  width: 100%;
}

.hero .container {
  display: flex;
  gap: 28px;
}

.hero h1 {
  font-size: 62px;
}

.hero h1 strong {
  color: #3596ed;
  font-weight: 600;
}

.hero__info{
  max-width: 492px;
}
.hero__info .text {
  max-width: 440px;
  margin-bottom: 140px;
}



.hero__images {
  display: flex;
  position: relative;
}

.hero__images img {
  transition: transform 0.3s;
  cursor: pointer;
}
.hero__images img:hover {
  transform: scale(1.03);
}

.hero__choose {
  position: absolute;
  padding: 22px;
  max-width: 161px;
  border: 1px solid #535755;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

/* ---------------news---------------- */
/* ---------------news---------------- */
/* ---------------news---------------- */
.news__container {
  display: flex;
  gap: 28px;
  justify-content: space-between;
}
.news__card {
  display: flex;
  flex-direction: column;
  max-width: 284px;
  flex: 1 1 25%;
  background-color: #fff;
  border: 1px solid #d3cbd9;
  overflow: hidden;
}

.news__card img {
  display: block;
}

.news__info {
  padding: 20px 20px 0px;
  margin-bottom: 12px;
}

.news__date {
  display: inline-block;
  margin-bottom: 8px;
}

.news__card footer {
  padding: 0 20px 20px;
  margin-top: auto;
}

.news__link {
  display: inline-flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #3596ed;
  align-items: center;
}
.news__link::after {
  content: "";
  background: url("../images/arrow-link.svg");
  width: 22px;
  height: 9px;
  display: inline-block;
  margin-left: 8px;
  transition: transform 0.3s;
}
.news__link:hover::after {
  transform: translateX(5px);
}

/* ---------------faq---------------- */
/* ---------------faq---------------- */
/* ---------------faq---------------- */

.faq {
  position: relative;
}
.faq::before {
  top: 215px;
  width: calc(50% - 250px);
}
.faq__container {
  display: flex;
  gap: 28px;
}
.faq__accordeon {
  max-width: 700px;
}

details[open] summary::after {
  transform: rotate(180deg);
  transition: transform 0.3s;
}

summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 20px;
  cursor: pointer;
  list-style: none;
  user-select: none;
}
summary::after {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  background: url("../images/arrow-down.svg") no-repeat center / cover;
  width: 17px;
  height: 22px;
}
summary::-webkit-details-marker {
  display: none;
}
details > p {
  padding: 0 20px 20px;
}
.faq__item {
  border-bottom: 1px solid #d3cbd9;
  border-top: 1px solid #d3cbd9;
  margin-bottom: 20px;
}

.faq__item:last-child {
  margin-bottom: 0;
}

/* ---------------media--------------- */
/* ---------------media--------------- */
/* ---------------media--------------- */

@media (width <= 1440px) {  
    .hero__images img {
    width: 50%;
    height: auto; /* Сбрасываем высоту, чтобы не было искажений */
  }
}
@media (width <= 992px) {
    .hero .container {
    flex-direction: column;
    align-items: center;
  }
  .hero::after{
    display: none; 
  }
  .hero__info{
    text-align: center;
  }
  .hero h1{
    max-width: none;
    font-size: 52px;
    margin-bottom: 30px;
  }
  .hero__info .text{
    max-width: inherit;
    margin-bottom: 30px;
  }
  .news__container{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .news__card{
    flex-basis: 50%;
    max-width: 350px; 
  }
  .news__card img{
    width: 100%;
  }
  .faq::before{
    display: none;
  }
  .faq__container{
    flex-direction: column-reverse;
    align-items: center;
  }
}


@media (width <= 768px){
  .hero h1{
    font-size: 50px;
  }
  .news__card{
    flex-basis: 100%;
    max-width: 400px; 
  }
}


@media (width <= 576px){
  .hero{
    padding-top: 60px;
  }
  .hero__info{
    max-width: 410px;
  }
.hero h1{
    font-size: 42px;
  }

  .hero__choose{
    font-size: 14px;
    max-width: 125px;
    padding: 10px; 
  }
}